<div class="css_grid">
  <mat-card>
    <mat-card-content>
      <h2>Dein Einkaufswagen</h2>
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>

      <div>
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="unit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Einheit
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.unit }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Menge
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.amount }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Kategorie
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.category }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="button">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-button (click)="deleteBasketItem(row)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button mat-button (click)="editBasketItem(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <!-- Different columns goes here -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>

        <mat-paginator
          #BasketPaginator
          [pageSizeOptions]="[25, 50, 100]"
        ></mat-paginator>
      </div>

      <h3>Zutatenfremde Artikel:</h3>
      <mat-form-field>
        <input matInput #name placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" #amount placeholder="Anzahl" />
      </mat-form-field>

      <button mat-button class="mat-card-actions_buttons" (click)="addCustomItem(name.value, amount.value)">Fremde Zutat hinzufügen</button>

      {{status_code}}
      
    </mat-card-content>
  </mat-card>
</div>
