<div class="css_grid">
  <mat-card>
    <mat-card-content>
      <img class="image_view" [src]="recipe.image" />
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="recipe_description">
        <span class="recipe_description_header">{{ recipe.name }}</span>
        <h2>Zutaten</h2>
        <p *ngFor="let ingredient of recipe_ingredients">
          {{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}
        </p>
        <h2>Zubereitung</h2>
        <p>
          <strong>Schwierigkeit:</strong> {{ recipe.difficulty.name }}
          <strong>Erforderliche Zeit:</strong>{{ recipe.required_time }}
        </p>
        <p>
          {{ recipe.description }}
        </p>
        <br />
        <br />
        <button
          mat-button
          (click)="routeToRecipeView()"
          class="mat-card-actions_back_button"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          mat-button
          (click)="ingredientsAddToBasket()"
          class="mat-card-actions_buttons"
        >
          Zutaten in den Einkaufswagen
        </button>
        <br />
        <p *ngIf="show_ingredients_added" class="amount_ingredients_added">
          Zutaten für {{ amount_ingredients_added }} Portionen hinzugefügt
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
