<h1 mat-dialog-title>Welche Zutat soll es sein?</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput #name placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput #unit placeholder="Einheit" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kategorie</mat-label>
    <mat-select [(value)]="selected">
      <mat-option [value]="ingredient.key" *ngFor="let ingredient of ingredients"> {{ingredient.key}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button [mat-dialog-close]="data.row">Ok</button>
</div>
