<mat-toolbar class="navbar">
  <mat-toolbar-row class="first_navbar_row">
    <!--<span>RezepteBuch</span>-->
    <img class="index_image" src="/assets/images/MainPageIcon.png" />
    <span class="spacer"></span>
    <div class="button_group">
      <button mat-button class="other_button" (click)="routeToRecipeView()">
        Home
      </button>
      <button mat-button class="other_button" (click)="routeToDetailView()">
        Zutaten
      </button>
      <button mat-button class="other_button" (click)="routeToRecipeView()">
        Kontakt
      </button>
      <button mat-button [matBadge]="basket_amount" matBadgePosition="after" matBadgeColor="warn" class="basket_button" (click)="routeToBasketView()">
        Einkaufswagen
      </button>
      <button
        mat-button
        class="add_recipe_button"
        (click)="routeToAddRecipe()"
      >
        Reiche dein Rezept ein
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="second_navbar_row">
    <span class="search_header">Suche</span>
    <form class="search">
      <mat-form-field>
        <input matInput /><mat-icon>search</mat-icon>
      </mat-form-field>
    </form>
    <span class="spacer"></span>
    <span>hier sollen unterschiedliche Kategorien stehen</span>
  </mat-toolbar-row>
</mat-toolbar>
