<div class="css_grid">
  <mat-card class="recipe_card">
    <mat-card-content class="material_card_content">
      <h2>Reiche hier dein Rezept ein</h2>
      <mat-horizontal-stepper [linear]="true" #stepper *ngIf="display_stepper">
        <mat-step [stepControl]="form_basics">
          <form [formGroup]="form_basics">
            <ng-template matStepLabel class="stepper">Basics</ng-template>
            <h3>Wie soll dein Rezept heißen?</h3>
            <mat-form-field>
              <input
                matInput
                placeholder="Rezeptname"
                formControlName="recipeName"
                [(ngModel)]="recipeName"
                required
              />
            </mat-form-field>
            <h3>Wie schwer ist die Zubereitung deines Rezeptes?</h3>
            <mat-form-field>
              <mat-select
                #difficulty
                formControlName="difficulty"
                
              >
                <mat-option
                  *ngFor="let difficulty of difficulties"
                  [value]="difficulty"
                >
                  {{ difficulty.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <h3>Füge hier ein Bild zu deinem Rezept ein</h3>
            <mat-form-field>
              <input
                matInput
                placeholder="Link zum Foto des Bildes"
                formControlName="recipeImageLink"
                [(ngModel)]="recipeImageLink"
                required
              />
            </mat-form-field>
            <div>
              <button
                mat-button
                matStepperNext
                class="mat-card-actions_buttons"
              >
                Weiter
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="form_ingredients">
          <form [formGroup]="form_ingredients">
            <ng-template matStepLabel class="stepper">Zutaten</ng-template>
            <h3>
              Welche und wie viele Zutaten benötigst du für dein Rezept für eine
              Portion?
            </h3>
            <p *ngFor="let ingredient_with_amount of selected_ingredients">
              {{ ingredient_with_amount.amount }}
              {{ ingredient_with_amount.unit }}
              {{ ingredient_with_amount.name }}
            </p>
            <mat-form-field>
              <input
                type="text"
                placeholder="Zutat"
                matInput
                #Zutat
                [value]="Zutat"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            {{ selected_ingredient.unit }}
            <mat-form-field>
              <input
                matInput
                type="number"
                #amount
                placeholder="Anzahl"
                type="number"
                required
              />
            </mat-form-field>
            <button
              mat-button
              class="mat-card-actions_buttons"
              (click)="add_ingredient(Zutat.value, amount.value)"
            >
              <mat-icon>add</mat-icon>
            </button>
            <br />
            <div class="error_code">{{ error_code }}</div>
            <br />
            <div>
              <button
                mat-button
                matStepperPrevious
                class="mat-card-actions_buttons"
              >
                Zurück
              </button>
              <button
                mat-button
                matStepperNext
                class="mat-card-actions_buttons"
              >
                Weiter
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="form_thirdFormGroup">
          <form [formGroup]="form_thirdFormGroup">
            <ng-template matStepLabel class="stepper">Zubereitung</ng-template>
            <h3>
              Wie bereitet man dein Rezept zu?
            </h3>
            <mat-form-field>
              <textarea
                class="input_description"
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                placeholder="Beschreibung"
                [(ngModel)]="description"
                formControlName="description"
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="100"
              ></textarea>
            </mat-form-field>
            <h3>
              Wie lange braucht man für die Zubereitung?
            </h3>
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Anzahl"
                formControlName="requiredTime"
                [(ngModel)]="requiredTime"
                required
              />
            </mat-form-field>
            <div>
              <button
                mat-button
                matStepperPrevious
                class="mat-card-actions_buttons"
              >
                Zurück
              </button>
              <button
                mat-button
                matStepperNext
                class="mat-card-actions_buttons"
              >
                Weiter
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel class="stepper">Done</ng-template>
          <h2>Dein Rezept im Überblick</h2>
          {{ recipeName }}
          <br />
          <img class="image_view" [src]="recipeImageLink" />
          <h3>Zutaten</h3>
          <p *ngFor="let ingredient_with_amount of selected_ingredients">
            {{ ingredient_with_amount.amount }}
            {{ ingredient_with_amount.unit }}
            {{ ingredient_with_amount.name }}
          </p>
          <h3>Zubereitung</h3>
          <p>
            <strong>Schwierigkeit:</strong>{{ difficulty.name }}
            <strong>Erforderliche Zeit:</strong> {{ requiredTime }} Minuten
          </p>
          <p>
            {{ description }}
          </p>
          <br />
          <br />

          <div>
            <button
              mat-button
              matStepperPrevious
              class="mat-card-actions_buttons"
            >
              Zurück
            </button>
            <button
              mat-button
              (click)="add_recipe()"
              class="mat-card-actions_buttons"
            >
              Absenden
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <div *ngIf="insert_successfull">
        <h2>Danke für dein Rezept</h2>
        <button
          mat-button
          (click)="routeToRecipeView()"
          class="mat-card-actions_buttons"
        >
          Zur Rezeptübersicht
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
