<div class="css_grid">
  <mat-card class="recipe_card">
    <mat-card-content class="material_card_content">
      <h2>Reiche hier dein Rezept ein</h2>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="form_basics">
          <form [formGroup]="form_basics">
            <ng-template matStepLabel class="stepper">Basics</ng-template>
            <h3>Wie soll dein Rezept heißen?</h3>
            <mat-form-field>
              <input
                matInput
                placeholder="Rezeptname"
                formControlName="Rezeptname"
                required
              />
            </mat-form-field>
            <h3>Wie schwer ist die Zubereitung deines Rezeptes?</h3>
            <mat-form-field>
              <mat-select #Schwierigkeit>
                <mat-option
                  *ngFor="let difficulty of difficulties"
                  [value]="difficulty.value"
                >
                  {{ difficulty.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button
                mat-button
                matStepperNext
                class="mat-card-actions_buttons"
              >
                Weiter
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="form_ingredients">
          <form [formGroup]="form_ingredients">
            <ng-template matStepLabel class="stepper">Zutaten</ng-template>
            <h3>Welche und wie viele Zutaten benötigst du für dein Rezept?</h3>
            <mat-form-field>
                <input type="text" placeholder="Zutat" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Anzahl" required />
              
            </mat-form-field>
            <button
                mat-button
                matStepperPrevious
                class="mat-card-actions_buttons"
              >
                <mat-icon>add</mat-icon>
              </button>
            <div>
              <button
                mat-button
                matStepperPrevious
                class="mat-card-actions_buttons"
              >
                Zurück
              </button>
              <button
                mat-button
                matStepperNext
                class="mat-card-actions_buttons"
              >
                Weiter
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="form_thirdFormGroup">
          <form [formGroup]="form_thirdFormGroup">
            <ng-template matStepLabel class="stepper">Zubereitung</ng-template>
            <mat-form-field>
              <input
                matInput
                placeholder="Address"
                formControlName="thirdCtrl"
                required
              />
            </mat-form-field>
            <div>
              <button
                mat-button
                matStepperPrevious
                class="mat-card-actions_buttons"
              >
                Zurück
              </button>
              <button
                mat-button
                matStepperNext
                class="mat-card-actions_buttons"
              >
                Weiter
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel class="stepper">Done</ng-template>
          <h3>Dein Rezept im Überblick</h3>
          <div>
            <button
              mat-button
              matStepperPrevious
              class="mat-card-actions_buttons"
            >
              Zurück
            </button>
            <button
              mat-button
              (click)="add_recipe(Schwierigkeit.value)"
              class="mat-card-actions_buttons"
            >
              Absenden
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        class="mat-card-actions_buttons"
        (click)="routeToRecipeView()"
      >
        Home
      </button>
    </mat-card-actions>
  </mat-card>
</div>
