.navbar {
}
.first_navbar_row {
  background-color: rgb(247, 246, 244);
  min-height: 150px;
  max-height: 150px;
}
.button_group {
  display: inline-block;
  vertical-align: text-bottom;
  margin-top: 100px;
  margin-right: 75px; 
}
.other_button{
    color: black;
    font-family: 'Cookie', cursive;
    font-size: 100%;
}
.basket_button{
    background-color: black;
    color: white;
    margin-left:10%;
    font-family: 'Cookie', cursive;
    font-size: 100%;
}
.add_recipe_button{  
    background-color: rgb(111, 190, 64);
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Cookie', cursive;
    font-size: 100%;
}
.second_navbar_row {
  background-color: rgb(69, 170, 51);
  color: rgb(247, 246, 244);
  font-family: 'Cookie', cursive;
  font-size: 30px;
}
.search {
  color: rgb(247, 246, 244);
  margin-left: 1%;
}
.search_header{
    margin-left: 3%;
}
.spacer {
  flex: 1 1 auto;
}
.index_image {
  height: 95%;
  margin-left: 4%;
}
